body{
    background-image: url(https://png.pngtree.com/background/20210717/original/pngtree-educational-student-learning-blackboard-cartoon-minimalist-background-picture-image_1434585.jpg);
}

.centrado {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;

  }

.espacio-imagenes{
   text-align: center;
  }